<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our APp</title>
    <meta name="desciption" content="wba">
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="bootstrap-datepicker-1/css/bootstrap-datepicker.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" rel="home" href="#home" title="Buy Sell Rent Everyting">
                <img style="max-width:200px; margin-top: -7px;"
                     src ="pics/logoentdecker.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="page-scroll"><a href="#home">Login</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalparks <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu page-scroll">
                        <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                        <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                        <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                        <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                        <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                        <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                        <li><a href="#aktivitäten">Müritz (MV)</a></li>
                        <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                        <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                        <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                        <li><a href="#aktivitäten">Hainich (TH)</a></li>
                        <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                        <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                        <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                        <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                        <li><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                    </ul>
                </li>
                <li class="page-scroll"><a href="#nationalparks">Kontakt</a></li>
                <li class="page-scroll"><a href="#aktuelles">Hilfe</a></li>
            </ul>
        </div>
    </div>


</nav>



<section id="home" class="home-section bg">
    <div id="wrapper">
        <blockquote class="blockquote-reverse"><h2>Erdachtes mag zu denken geben,
        doch nur Erlebtes wird beleben.<footer>Paul von Heyse</footer></h2></blockquote>
        </div>
</section>



<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div id="aktivitäten" style="position: absolute; top: -100px; left: 0px;"></div>
        <div style="background-color: rgb(0, 150, 64); height: 100px; margin-top: -70px;">
            <h1 id="activity">Klettern</h1>
        </div>
    </div>
</div>
<div class="clearfix">
<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <div class="dropdown-activity">
            Nationalpark
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-menu-down dropdown-arrow"></span> </a>
                <ul role="menu" class="dropdown-menu page-scroll">
                    <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                    <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                    <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                    <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                    <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                    <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                    <li><a href="#aktivitäten">Müritz (MV)</a></li>
                    <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                    <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                    <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                    <li><a href="#aktivitäten">Hainich (TH)</a></li>
                    <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                    <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                    <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                    <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                    <li><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                </ul>
            </li>
        </div>

        <div class="col-md2">
        <div class="activity-date" style="margin-left: 15px;">
            Aktivität
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-menu-down dropdown-arrow"></span> </a>
                <ul role="menu" class="dropdown-menu page-scroll">
                    <li><a href="#aktivitäten">Klettern</a></li>
                    <li><a href="#aktivitäten">Wandern</a></li>
                    <li><a href="#aktivitäten">Angeln</a></li>
                    <li><a href="#aktivitäten">Jagen</a></li>
                    <li><a href="#aktivitäten">Reiten</a></li>
                    <li><a href="#aktivitäten">Mountainbiking</a></li>
                    <li><a href="#aktivitäten">Kanufahren</a></li>
                    <li><a href="#aktivitäten">Geocaching</a></li>
                    <li><a href="#aktivitäten">Wattwandern</a></li>
                    <li><a href="#aktivitäten">Hiken</a></li>
                    <li><a href="#aktivitäten">Skifahren</a></li>
                </ul>
            </li>
        </div>
     <!-- <div class="input-group date">
    <input type="text" value="12-02-2012">
          <input class="datepicker" data-date-format="mm/dd/yyyy">
          <input data-provide="datepicker">
    <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
</div>-->
<input type="text" class="span2" value="02/16/12" data-date-format="mm/dd/yy" id="dp2">
        
        
    </div>
</div>

</div>

<section id="nationalparks" class="about-section">
  Nationalparks
</section>

<section id="aktuelles" class="contact-section">
    Aktuelles
</section>

<section id="unterkünfte" class="contact-section">
    Unterkünfte
</section>




<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="scroll-nav.js"></script>
<script src="content_jquery.js"></script>
<script src="bootstrap-datepicker-1/js/bootstrap-datepicker.min.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

</body>
</html>