<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our App</title>
    <meta name="desciption" content="wba">
    <meta name="viewport" content="windth=device-width, inital-scale=1">
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap-theme.css">

    <link rel="stylesheet" href="../vitalets-bootstrap-datepicker-c7af15b/css/datepicker.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" rel="home" href="#home" title="Buy Sell Rent Everyting">
                <img style="max-width:100px; margin-top: -7px;"
                     src="pics/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="page-scroll"><a href="#home">Home</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Aktivitäten <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu page-scroll">
                        <li><a href="#aktivitäten">Klettern</a></li>
                        <li><a href="#aktivitäten">Wandern</a></li>
                        <li><a href="#aktivitäten">Angeln</a></li>
                        <li><a href="#aktivitäten">Jagen</a></li>
                        <li><a href="#aktivitäten">Reiten</a></li>
                        <li><a href="#aktivitäten">Mountainbiking</a></li>
                        <li><a href="#aktivitäten">Kanu fahren</a></li>
                    </ul>
                </li>
                <li class="page-scroll"><a href="#nationalparks">Nationalparks</a></li>
                <li class="page-scroll"><a href="#aktuelles">Aktuelles</a></li>
                <li class="page-scroll"><a href="#unterkünfte">Unterkünfte</a></li>

            </ul>
        </div>
    </div>


</nav>



<section id="home" class="home-section">
    <div id="wrapper">
        <h1>Finde deine Gruppe <br>und erlebt zusammen den Park</h1>
        </div>
</section>

<section id="activity" class="activity-section">
<div class="clearfix">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="dropdown-ort">
                Nationalpark
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-menu-down dropdown-arrow"></span> </a>
                    <ul role="menu" class="dropdown-menu page-scroll" id="nationalpark-options">
                        <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                        <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                        <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                        <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                        <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                        <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                        <li><a href="#aktivitäten">Müritz (MV)</a></li>
                        <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                        <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                        <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                        <li><a href="#aktivitäten">Hainich (TH)</a></li>
                        <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                        <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                        <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                        <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                        <li style="border-bottom: none;"><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                    </ul>
                </li>
            </div>
            </div>
        <div class="col-md-2">
                <div class="dropdown-activity">
                    Aktivität
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span id="dropdown-arrow" class="glyphicon glyphicon-menu-down dropdown-arrow"></span> </a>
                        <ul role="menu" class="dropdown-menu page-scroll" id="activity-options">
                            <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                            <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                            <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                            <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                            <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                            <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                            <li><a href="#aktivitäten">Müritz (MV)</a></li>
                            <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                            <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                            <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                            <li><a href="#aktivitäten">Hainich (TH)</a></li>
                            <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                            <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                            <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                            <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                            <li style="border-bottom: none;"><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                        </ul>
                    </li>
                </div>
        </div>
        <div class="col-md-2">
            <input type="text" class="datepicker" name="date" placeholder="Datum auswählen">
            <button type="button" class="btn btn-success search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
        </div>
    </div>
</section>

<section class="activity-label">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div id="aktivitäten" class="activity-box">
                <h1>Klettern</h1>
            </div>
        </div>
    </div>
</section>

<section class="groups">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="button-wrapper">
                <button type="button" class="btn btn-success" id="zurueck">Zurück</button>
                <button type="button" class="btn btn-warning" id="new-group">Neue Gruppe erstellen</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="group-wrapper">
               <div class="row1">
                   <div class="g1">
                       <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalpark <span class="glyphicon glyphicon-menu-down dropdown-arrow"></span></a>
                           <ul role="menu" class="dropdown-menu page-scroll">
                               <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                               <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                               <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                               <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                               <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                               <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                               <li><a href="#aktivitäten">Müritz (MV)</a></li>
                               <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                               <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                               <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                               <li><a href="#aktivitäten">Hainich (TH)</a></li>
                               <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                               <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                               <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                               <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                               <li style="border-bottom: none;"><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                           </ul>
                       </li>
                   </div>
                   <div class="g2">
                       <li class="dropdown">
                           <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalpark <span class="glyphicon glyphicon-menu-down dropdown-arrow"></span></a>
                           <ul role="menu" class="dropdown-menu page-scroll">
                               <li><a href="#aktivitäten">Klettern</a></li>
                               <li><a href="#aktivitäten">Wandern</a></li>
                               <li><a href="#aktivitäten">Angeln</a></li>
                               <li><a href="#aktivitäten">Jagen</a></li>
                               <li><a href="#aktivitäten">Reiten</a></li>
                               <li><a href="#aktivitäten">Mountainbiking</a></li>
                               <li><a href="#aktivitäten">Kanu fahren</a></li>
                           </ul>
                       </li>
                   </div>
                       <div class="g3">
                           <input type="text" class="datepicker" placeholder="Datum auswählen">
                       </div>
            </div>
                <div class="row2">
                    <div class="g4">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalpark <span class="glyphicon glyphicon-menu-down dropdown-arrow"></span></a>
                            <ul role="menu" class="dropdown-menu page-scroll">
                                <li><a href="#aktivitäten">Bayerischer Wald (BY)</a></li>
                                <li><a href="#aktivitäten">Berchtesgaden (BY)</a></li>
                                <li><a href="#aktivitäten">Schleswig-Holsteinisches Wattenmeer (SH)</a></li>
                                <li><a href="#aktivitäten">Niedersächsisches Wattenmeer (NI)</a></li>
                                <li><a href="#aktivitäten">Hamburgisches Wattenmeer (HH)</a></li>
                                <li><a href="#aktivitäten">Jasmund (MV)</a></li>
                                <li><a href="#aktivitäten">Müritz (MV)</a></li>
                                <li><a href="#aktivitäten">Sächsische Schweiz (SN)</a></li>
                                <li><a href="#aktivitäten">Unteres Odertal (BB)</a></li>
                                <li><a href="#aktivitäten">Vorpommersche Boddenlandschaft (MV)</a></li>
                                <li><a href="#aktivitäten">Hainich (TH)</a></li>
                                <li><a href="#aktivitäten">Eifel (NRW)</a></li>
                                <li><a href="#aktivitäten">Kellerwald-Edersee (HE)</a></li>
                                <li><a href="#aktivitäten">Harz (ST, NI)</a></li>
                                <li><a href="#aktivitäten">Schwarzwald (BW)</a></li>
                                <li style="border-bottom: none;"><a href="#aktivitäten">Hunsrück-Hochwald (SL, RP)</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="g5">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalpark <span class="glyphicon glyphicon-menu-down dropdown-arrow"></span></a>
                            <ul role="menu" class="dropdown-menu page-scroll">
                                <li><a href="#aktivitäten">Klettern</a></li>
                                <li><a href="#aktivitäten">Wandern</a></li>
                                <li><a href="#aktivitäten">Angeln</a></li>
                                <li><a href="#aktivitäten">Jagen</a></li>
                                <li><a href="#aktivitäten">Reiten</a></li>
                                <li><a href="#aktivitäten">Mountainbiking</a></li>
                                <li><a href="#aktivitäten">Kanu fahren</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="g6">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Nationalpark <span class="glyphicon glyphicon-menu-down dropdown-arrow"></span></a>
                            <ul role="menu" class="dropdown-menu page-scroll">
                                <li><a href="#aktivitäten">Klettern</a></li>
                                <li><a href="#aktivitäten">Wandern</a></li>
                                <li><a href="#aktivitäten">Angeln</a></li>
                                <li><a href="#aktivitäten">Jagen</a></li>
                                <li><a href="#aktivitäten">Reiten</a></li>
                                <li><a href="#aktivitäten">Mountainbiking</a></li>
                                <li><a href="#aktivitäten">Kanu fahren</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="row3">
                    <button type="button" class="btn btn-success" id="bestaetigen">Bestätigen</button>
                </div>
            </div>
            </div>
        </div>
</section>

<section id="nationalparks" class="about-section">
  Nationalparks
</section>

<section id="aktuelles" class="contact-section">
    Aktuelles
</section>

<section id="unterkünfte" class="contact-section">
    Unterkünfte
</section>


<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="scroll-nav.js"></script>
<script src="content_jquery.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../vitalets-bootstrap-datepicker-c7af15b/js/bootstrap-datepicker.js"></script>
<script src="../vitalets-bootstrap-datepicker-c7af15b/js/locales/bootstrap-datepicker.de.js"></script>

</body>
</html>